@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700')
@import url('https://fonts.googleapis.com/css?family=Exo');

$header-color: #EC6950
$header-color2: #F4C7B8
$monotint-header-color: #f6b5a8
$section-color: lighten(#f7edce, 5%)
$white-color: #ffece7
$orange-colortwo: #faab11
$orange-color: #E7A523
$black-color: #333333
$darkred-color: #8f3333
$main-font: 'Work Sans', sans-serif
$sub-font: 'Exo', sans-serif