footer
    background: $black-color
    padding: 0.75rem
    .social__icons
        width: 50%
        margin: 0 auto
        display: flex
        flex-direction: row
        justify-content: center
        align-content: space-between
        list-style: none
        .icons
            display: block
            padding: 1.5rem
            li i.fab
                font-size: 1.5rem
                text-decoration: none
                color: $darkred-color