@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Oleo+Script");
.work-container {
  width: 80%;
  height: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media screen and (max-width: 758px) {
  .work-container {
    justify-content: center;
  }
}

.work-container .project-single {
  min-height: 300px;
  padding: 2em;
}

@media screen and (min-width: 1026px) {
  .work-container .project-single {
    width: 33.3%;
  }
}

@media screen and (max-width: 1026px) and (min-width: 758px) {
  .work-container .project-single {
    width: 50%;
  }
}

@media screen and (max-width: 758px) {
  .work-container .project-single {
    padding: 1em;
    min-height: 250px;
  }
}

.work-container .project-single .image-hold {
  max-width: 100%;
  height: 100%;
  position: relative;
}

.work-container .project-single .image-hold img {
  display: block;
  min-width: 250px;
  max-width: 100%;
  min-height: 250px;
  max-height: 100%;
}

@media screen and (max-width: 758px) {
  .work-container .project-single .image-hold img {
    min-width: 200px;
    width: 200px;
    min-height: 200px;
    height: 200px;
  }
}

.work-container .project-single .image-hold .image-overlay {
  position: absolute;
  min-width: 250px;
  width: 100%;
  min-height: 250px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

@media screen and (max-width: 758px) {
  .work-container .project-single .image-hold .image-overlay {
    min-width: 200px;
    width: 200px;
    min-height: 200px;
    height: 200px;
  }
}

.work-container .project-single .image-hold .image-overlay .description {
  opacity: 0;
}

.work-container .project-single .image-hold:hover img {
  transform: scale(1.05);
  box-shadow: 5px 5px 10px 3px rgba(162, 162, 162, 0.5);
  transition: all 500ms ease-in-out;
}

.work-container .project-single .image-hold:hover .image-overlay {
  cursor: pointer;
  transform: scale(1.05);
  background: rgba(239, 121, 97, 0.9);
  transition: all 500ms ease-in-out;
}

.work-container .project-single .image-hold:hover .image-overlay .description {
  transition: all 750ms ease-in-out;
  opacity: 1;
  margin: 0 auto;
  width: 75%;
  text-align: center;
  transform: translateY(-50%);
  margin-top: 50%;
}

.work-container .project-single .image-hold:hover .image-overlay .description h3 {
  font-size: 2em;
  padding-bottom: 3px;
  text-transform: lowercase;
  color: #f1c40e;
}

.work-container .project-single .image-hold:hover .image-overlay .description p {
  font-size: 1em;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.content-section {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.content-section .content-section-header {
  width: 90%;
  margin: 0 auto;
  padding: 2% 0 0 0;
  position: absolute;
  top: 0;
  left: 5%;
  display: flex;
  flex-direction: row;
}

.content-section .content-section-header .section-number, .content-section .content-section-header .section-title {
  display: block;
  position: relative;
}

.content-section .content-section-header .section-number {
  color: #E7A523;
}

@media screen and (min-width: 1026px) {
  .content-section .content-section-header .section-number {
    font-size: 4.5em;
  }
}

@media screen and (max-width: 1026px) and (min-width: 758px) {
  .content-section .content-section-header .section-number {
    font-size: 4.5em;
  }
}

@media screen and (max-width: 758px) {
  .content-section .content-section-header .section-number {
    font-size: 2.5em;
  }
}

.content-section .content-section-header .section-title {
  color: #333333;
  width: 100%;
  margin-left: 4em;
  font-size: 2.5em;
  font-family: "Work Sans", sans-serif;
  line-height: 2.75em;
}

@media screen and (max-width: 758px) {
  .content-section .content-section-header .section-title {
    font-size: 1.15em;
    line-height: 2.5em;
    margin-left: 2em;
  }
}

.content-section .content-section-header .section-title:before {
  position: absolute;
  content: '';
  display: block;
  left: -2.25em;
  top: 50%;
  width: 1.75em;
  height: 2px;
  background-color: #333333;
}

@media screen and (max-width: 758px) {
  .content-section .content-section-header .section-title:before {
    width: 1.25em;
    left: -1.5em;
  }
}

.content-section .content-inner-section {
  margin: 0 auto;
  padding: 15% 0  5% 0;
}

/*Main Header Styles*/
.main-header {
  background: #EC6950;
}

.main-header .logo-image {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  background-image: url(../img/header.png);
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1026px) {
  .main-header .logo-image {
    max-height: 1900px;
  }
}

@media screen and (max-width: 1026px) and (min-width: 758px) {
  .main-header .logo-image {
    height: 75vh;
    max-height: 450px;
  }
}

@media screen and (max-width: 758px) {
  .main-header .logo-image {
    height: 50vh;
    max-height: 300px;
    width: 100%;
  }
}

.main-header .logo-image .logo-title {
  position: absolute;
  width: 50%;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  background: #EC6950;
  padding: 3%;
}

@media screen and (max-width: 1026px) and (min-width: 758px) {
  .main-header .logo-image .logo-title {
    padding: 4%;
  }
}

@media screen and (max-width: 758px) {
  .main-header .logo-image .logo-title {
    padding: 2%;
    width: 70%;
  }
}

.main-header .logo-image .logo-title .inner-logo-tittle {
  margin: 0 auto;
  width: 90%;
}

@media screen and (max-width: 1026px) and (min-width: 758px) {
  .main-header .logo-image .logo-title .inner-logo-tittle {
    width: 100%;
  }
}

@media screen and (max-width: 758px) {
  .main-header .logo-image .logo-title .inner-logo-tittle {
    width: 100%;
  }
}

.main-header .logo-image .logo-title .inner-logo-tittle span {
  font-family: "Work Sans", sans-serif;
  display: block;
}

.main-header .logo-image .logo-title .inner-logo-tittle .title-main {
  font-size: 4em;
  font-weight: 700;
  text-align: center;
  color: #faab11;
}

@media screen and (max-width: 1026px) and (min-width: 758px) {
  .main-header .logo-image .logo-title .inner-logo-tittle .title-main {
    font-size: 3em;
  }
}

@media screen and (max-width: 758px) {
  .main-header .logo-image .logo-title .inner-logo-tittle .title-main {
    font-size: 1.5em;
  }
}

.main-header .logo-image .logo-title .inner-logo-tittle .title-sub {
  font-size: 1.5em;
  color: #ffece7;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 1026px) and (min-width: 758px) {
  .main-header .logo-image .logo-title .inner-logo-tittle .title-sub {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 758px) {
  .main-header .logo-image .logo-title .inner-logo-tittle .title-sub {
    font-size: 0.9em;
  }
}

/*About Section Styles*/
.about .content-section-header {
  animation: enter-left 1500ms;
}

.about .content-inner-section {
  width: 75%;
  height: auto;
}

.about .content-inner-section .top-about {
  display: block;
  width: 100%;
  margin: 3em auto;
}

@media screen and (min-width: 1026px) {
  .about .content-inner-section .top-about {
    padding: 0 5% 5% 5%;
    min-height: 50vh;
  }
}

.about .content-inner-section .top-about .about-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

@media screen and (max-width: 758px) {
  .about .content-inner-section .top-about .about-inner {
    flex-direction: column;
  }
}

.about .content-inner-section .top-about img, .about .content-inner-section .top-about .about-info {
  max-width: 50%;
  max-height: 75%;
  padding: 2em;
  background-color: #f3f3f3;
}

@media screen and (max-width: 758px) {
  .about .content-inner-section .top-about img, .about .content-inner-section .top-about .about-info {
    max-width: 100%;
    max-height: none;
  }
}

.about .content-inner-section .top-about img {
  border: 10px solid white;
  border-bottom: 50px solid white;
  box-shadow: 5px 5px 10px 0px rgba(37, 37, 37, 0.56);
}

@media screen and (min-width: 1026px) {
  .about .content-inner-section .top-about img {
    flex: 1 0 0;
    margin-right: 15%;
  }
}

@media screen and (max-width: 1026px) and (min-width: 758px) {
  .about .content-inner-section .top-about img {
    margin-right: 10%;
  }
}

@media screen and (max-width: 758px) {
  .about .content-inner-section .top-about img {
    width: 60%;
    min-height: 200px;
  }
}

@media screen and (min-width: 1026px) {
  .about .content-inner-section .top-about .about-info {
    flex: 2 0 0;
  }
}

@media screen and (max-width: 758px) {
  .about .content-inner-section .top-about .about-info {
    margin-top: 2em;
  }
}

.about .content-inner-section .top-about .about-info p {
  line-height: 1.5em;
}

@media screen and (min-width: 1026px) {
  .about .content-inner-section .top-about .about-info p {
    font-size: 1.15em;
  }
}

@media screen and (max-width: 1026px) and (min-width: 758px) {
  .about .content-inner-section .top-about .about-info p {
    font-size: 1em;
  }
}

@media screen and (max-width: 758px) {
  .about .content-inner-section .top-about .about-info p {
    font-size: .87em;
  }
}

.about .content-inner-section .middle-about {
  width: 60%;
  margin: 0 auto;
}

.about .content-inner-section .middle-about ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  list-style: none;
}

.about .content-inner-section .middle-about a {
  text-decoration: none;
  color: inherit;
}

.about .content-inner-section .middle-about a:hover li {
  transform: scale(1.15);
  background-color: #faab11;
}

.about .content-inner-section .middle-about li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #333333;
  margin: 0px .5em;
  position: relative;
  transition: 500ms ease all;
}

@media screen and (max-width: 758px) {
  .about .content-inner-section .middle-about li {
    width: 40px;
    height: 40px;
  }
}

.about .content-inner-section .middle-about li img {
  width: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-width: 758px) {
  .about .content-inner-section .middle-about li img {
    width: 20px;
  }
}

.about .content-inner-section .bottom-about {
  margin: 3em 0 0 0;
}

.about .content-inner-section .bottom-about .about-inner {
  max-width: 800px;
  min-width: 250px;
  margin: 0 auto;
}

.about .content-inner-section .bottom-about .about-inner h3 {
  font-size: 1.5em;
  color: rgba(73, 73, 73, 0.3);
  text-transform: uppercase;
}

@media screen and (max-width: 758px) {
  .about .content-inner-section .bottom-about .about-inner h3 {
    font-size: 1.25em;
  }
}

.about .content-inner-section .bottom-about .about-inner .skill-set {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 1.5em;
}

.about .content-inner-section .bottom-about .about-inner .skill-set .progress {
  position: relative;
  padding: 1em;
  font-size: 1em;
}

@media screen and (min-width: 1026px) {
  .about .content-inner-section .bottom-about .about-inner .skill-set .progress {
    width: 33.3%;
  }
}

@media screen and (max-width: 1026px) and (min-width: 758px) {
  .about .content-inner-section .bottom-about .about-inner .skill-set .progress {
    width: 50%;
  }
}

@media screen and (max-width: 758px) {
  .about .content-inner-section .bottom-about .about-inner .skill-set .progress {
    font-size: .875em;
    width: 50%;
    text-align: center;
    padding: 1em .5em;
  }
}

.about .content-inner-section .bottom-about .about-inner .skill-set .progress::after, .about .content-inner-section .bottom-about .about-inner .skill-set .progress::before {
  content: '';
  position: absolute;
  display: block;
  height: 10px;
  right: 0;
  background: #FFF;
  border: 1px solid rgba(128, 128, 128, 0.3);
}

@media screen and (min-width: 1026px) {
  .about .content-inner-section .bottom-about .about-inner .skill-set .progress::after, .about .content-inner-section .bottom-about .about-inner .skill-set .progress::before {
    top: 50%;
  }
}

@media screen and (max-width: 1026px) and (min-width: 758px) {
  .about .content-inner-section .bottom-about .about-inner .skill-set .progress::after, .about .content-inner-section .bottom-about .about-inner .skill-set .progress::before {
    top: 40%;
  }
}

@media screen and (max-width: 758px) {
  .about .content-inner-section .bottom-about .about-inner .skill-set .progress::after, .about .content-inner-section .bottom-about .about-inner .skill-set .progress::before {
    bottom: 0;
    right: 33.3%;
  }
}

.about .content-inner-section .bottom-about .about-inner .skill-set .progress::after {
  width: 25%;
}

@media screen and (max-width: 758px) {
  .about .content-inner-section .bottom-about .about-inner .skill-set .progress::after {
    width: 33%;
  }
}

.about .content-inner-section .bottom-about .about-inner .skill-set .progress::before {
  background: #FFF;
  z-index: 10;
}

.about .content-inner-section .bottom-about .about-inner .skill-set .adv::after {
  background: #61ef79;
}

.about .content-inner-section .bottom-about .about-inner .skill-set .int::after {
  background: #efc061;
}

.about .content-inner-section .bottom-about .about-inner .skill-set .beg::after {
  background: #ef7961;
}

.about .content-inner-section .bottom-about .about-inner .skill-set .adv::before {
  width: 2%;
}

.about .content-inner-section .bottom-about .about-inner .skill-set .int::before {
  width: 7%;
}

.about .content-inner-section .bottom-about .about-inner .skill-set .beg::before {
  width: 13%;
}

.contact .contact-container {
  width: 65%;
  margin: 0 auto;
}

@media screen and (max-width: 758px) {
  .contact .contact-container {
    width: 80%;
  }
}

.contact .contact-container h3 {
  line-height: 1.5em;
  font-size: 2em;
  font-weight: normal;
}

@media screen and (max-width: 758px) {
  .contact .contact-container h3 {
    font-size: 1.25em;
    margin: 1em 0;
  }
}

.contact .contact-container h3 a {
  text-decoration: none;
  font-weight: 600;
  color: #faab11;
}

/*Small Animations*/
@keyframes enter-up {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes enter-left {
  0% {
    transform: translateX(-15%);
  }
  100% {
    transform: translateX(0);
  }
}
 

 /*# sourceMappingURL= styles.css.map */