@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Oleo+Script");
.header__content {
  background-color: #F4C7B8;
  height: 100vh;
}

@media screen and (max-width: 758px) {
  .header__content {
    height: 100vh;
  }
}

.header__content .header__navigation > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 85%;
  margin: 0 auto;
  padding: 2.5rem;
  list-style: none;
}

@media screen and (max-width: 758px) {
  .header__content .header__navigation > ul {
    padding: 1rem 0;
    width: 100%;
  }
}

.header__content .header__navigation > ul a {
  color: inherit;
  text-decoration: none;
  font-size: 1.25em;
  font-weight: 500;
}

@media screen and (max-width: 758px) {
  .header__content .header__navigation > ul a {
    font-size: 1em;
  }
}

.header__content .header__navigation > ul .navigation__item {
  position: relative;
  text-align: center;
  cursor: pointer;
  margin: 0 2rem;
  padding: 0 0.5rem;
}

@media screen and (max-width: 758px) {
  .header__content .header__navigation > ul .navigation__item {
    margin: 0 1rem;
  }
}

.header__content .header__navigation > ul .navigation__item::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  width: 0%;
  height: 1rem;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(65%, transparent), color-stop(0, rgba(234, 82, 82, 0.5)));
  background-image: linear-gradient(180deg, transparent 65%, rgba(234, 82, 82, 0.5) 0);
  background-size: 100% 100%;
  -webkit-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}

.header__content .header__navigation > ul .navigation__item:hover::before {
  width: 100%;
}

.header__content .header__navigation > ul .name {
  color: rgba(0, 0, 0, 0.7);
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.header__content .header__title {
  width: 80%;
  max-width: 850px;
  margin: 0 auto;
  padding: 1rem 0 3rem 0;
  text-align: center;
}

@media screen and (max-width: 758px) {
  .header__content .header__title {
    width: 100%;
    padding: 2rem 0;
  }
}

.header__content .header__title h1 {
  font-size: 3em;
  line-height: 2.5;
  font-weight: 500;
  margin: 0;
}

@media screen and (max-width: 758px) {
  .header__content .header__title h1 {
    font-size: 1.6em;
  }
}

.header__content .header__title p {
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.25;
  color: #8f3333;
}

@media screen and (max-width: 758px) {
  .header__content .header__title p {
    font-size: 1em;
    padding: 0 5%;
    margin: .25rem .5rem .5rem .5rem;
  }
}

.header__content .header__title .header__highlight {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(65%, transparent), color-stop(0, rgba(234, 82, 82, 0.5)));
  background-image: linear-gradient(180deg, transparent 65%, rgba(234, 82, 82, 0.5) 0);
  background-size: 100% 100%;
}

.header__content .header__svg {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  max-height: 275px;
}

@media screen and (max-width: 758px) {
  .header__content .header__svg {
    padding: 0 5%;
    width: 100%;
  }
}

.header__content .header__svg #code > path {
  -webkit-animation: load-code 1500ms cubic-bezier(0.4, 0, 1, 1) both 1;
          animation: load-code 1500ms cubic-bezier(0.4, 0, 1, 1) both 1;
}

.header__content .header__svg #code > path:nth-child(1n) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.header__content .header__svg #code > path:nth-child(2n) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.header__content .header__svg #code > path:nth-child(3n) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.header__content .header__svg #code > path:nth-child(4n) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.header__content .header__svg #code > path:nth-child(5n) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.header__content .header__svg #code > path:nth-child(6n) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.header__content .header__svg #code > path:nth-child(7n) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.header__content .header__svg #code > path:nth-child(8n) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.header__content .header__svg #code > path:nth-child(9n) {
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}

.header__content .header__svg #code > path:nth-child(10n) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.header__content .header__svg #code > path:nth-child(11n) {
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
}

.header__content .header__svg #code > path:nth-child(12n) {
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
}

.header__content .header__svg #code > path:nth-child(13n) {
  -webkit-animation-delay: 3.9s;
          animation-delay: 3.9s;
}

.header__content .header__svg #code > path:nth-child(14n) {
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
}

.header__content .header__svg #code > path:nth-child(15n) {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.header__content .header__svg #code > path:nth-child(16n) {
  -webkit-animation-delay: 4.8s;
          animation-delay: 4.8s;
}

.header__content .header__svg #code > path:nth-child(17n) {
  -webkit-animation-delay: 5.1s;
          animation-delay: 5.1s;
}

.header__content .header__svg #code > path:nth-child(18n) {
  -webkit-animation-delay: 5.4s;
          animation-delay: 5.4s;
}

.header__content .header__svg #code > path:nth-child(19n) {
  -webkit-animation-delay: 5.7s;
          animation-delay: 5.7s;
}

.header__content .header__svg #code > path:nth-child(20n) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.header__content .header__svg #code > path:nth-child(21n) {
  -webkit-animation-delay: 6.3s;
          animation-delay: 6.3s;
}

.header__content .header__svg #code > path:nth-child(22n) {
  -webkit-animation-delay: 6.6s;
          animation-delay: 6.6s;
}

.header__content .header__svg #code > path:nth-child(23n) {
  -webkit-animation-delay: 6.9s;
          animation-delay: 6.9s;
}

.header__content .header__svg #tea_steam > path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  opacity: 0;
  -webkit-animation: steam 2s linear forwards infinite;
          animation: steam 2s linear forwards infinite;
}

.header__content .header__scrolltext {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.25em;
  font-weight: 700;
  margin: 0 0 2rem 0;
  color: #8f3333;
  -webkit-transform: translateX(-50%) translateY(0px);
          transform: translateX(-50%) translateY(0px);
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 900ms;
          animation-duration: 900ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.header__content::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#F4C7B8), to(#FFF6F3));
  background: linear-gradient(#F4C7B8, #FFF6F3);
}

@-webkit-keyframes load-code {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  40%, 50% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes load-code {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  40%, 50% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes steam {
  0% {
    stroke-dashoffset: 100;
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0.3;
  }
}

@keyframes steam {
  0% {
    stroke-dashoffset: 100;
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0.3;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateX(-50%) translateY(0px);
            transform: translateX(-50%) translateY(0px);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-10px);
            transform: translateX(-50%) translateY(-10px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateX(-50%) translateY(0px);
            transform: translateX(-50%) translateY(0px);
  }
  100% {
    -webkit-transform: translateX(-50%) translateY(-10px);
            transform: translateX(-50%) translateY(-10px);
  }
}

#work {
  background: #FFF6F3;
}

.work-container {
  width: 80%;
  height: 100%;
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 758px) {
  .work-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.work-container .project-single {
  min-height: 300px;
  padding: 2em;
}

@media screen and (min-width: 1026px) {
  .work-container .project-single {
    width: 33.3%;
  }
}

@media screen and (max-width: 1026px) and (min-width: 758px) {
  .work-container .project-single {
    width: 50%;
  }
}

@media screen and (max-width: 758px) {
  .work-container .project-single {
    padding: 1em;
    min-height: 250px;
  }
}

.work-container .project-single .image-hold {
  max-width: 100%;
  height: 100%;
  position: relative;
}

.work-container .project-single .image-hold img {
  display: block;
  min-width: 250px;
  max-width: 100%;
  min-height: 250px;
  max-height: 100%;
}

@media screen and (max-width: 758px) {
  .work-container .project-single .image-hold img {
    min-width: 200px;
    width: 200px;
    min-height: 200px;
    height: 200px;
  }
}

.work-container .project-single .image-hold .image-overlay {
  position: absolute;
  min-width: 250px;
  width: 100%;
  min-height: 250px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

@media screen and (max-width: 758px) {
  .work-container .project-single .image-hold .image-overlay {
    min-width: 200px;
    width: 200px;
    min-height: 200px;
    height: 200px;
  }
}

.work-container .project-single .image-hold .image-overlay .description {
  opacity: 0;
}

.work-container .project-single .image-hold:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 5px 5px 10px 3px rgba(162, 162, 162, 0.5);
          box-shadow: 5px 5px 10px 3px rgba(162, 162, 162, 0.5);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.work-container .project-single .image-hold:hover .image-overlay {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background: rgba(239, 121, 97, 0.9);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.work-container .project-single .image-hold:hover .image-overlay .description {
  -webkit-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
  opacity: 1;
  margin: 0 auto;
  width: 75%;
  text-align: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-top: 50%;
}

.work-container .project-single .image-hold:hover .image-overlay .description h3 {
  font-size: 2em;
  padding-bottom: 3px;
  text-transform: lowercase;
  color: #f1c40e;
}

.work-container .project-single .image-hold:hover .image-overlay .description p {
  font-size: 1em;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

*::-moz-selection {
  background: rgba(236, 105, 80, 0.7);
}

*::selection {
  background: rgba(236, 105, 80, 0.7);
}

.content-section {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.content-section .content-section-header {
  width: 90%;
  margin: 0 auto;
  padding: 2% 0 0 0;
  position: absolute;
  top: 0;
  left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content-section .content-section-header .section-number, .content-section .content-section-header .section-title {
  display: block;
  position: relative;
}

.content-section .content-section-header .section-number {
  color: #E7A523;
}

@media screen and (min-width: 1026px) {
  .content-section .content-section-header .section-number {
    font-size: 4.5em;
  }
}

@media screen and (max-width: 1026px) and (min-width: 758px) {
  .content-section .content-section-header .section-number {
    font-size: 4.5em;
  }
}

@media screen and (max-width: 758px) {
  .content-section .content-section-header .section-number {
    font-size: 2.5em;
  }
}

.content-section .content-section-header .section-title {
  color: #333333;
  width: 100%;
  margin-left: 4em;
  font-size: 2.5em;
  font-family: "Work Sans", sans-serif;
  line-height: 2.75em;
}

@media screen and (max-width: 758px) {
  .content-section .content-section-header .section-title {
    font-size: 1.15em;
    line-height: 2.5em;
    margin-left: 2em;
  }
}

.content-section .content-section-header .section-title:before {
  position: absolute;
  content: '';
  display: block;
  left: -2.25em;
  top: 50%;
  width: 1.75em;
  height: 2px;
  background-color: #333333;
}

@media screen and (max-width: 758px) {
  .content-section .content-section-header .section-title:before {
    width: 1.25em;
    left: -1.5em;
  }
}

.content-section .content-inner-section {
  margin: 0 auto;
  padding: 15% 0  5% 0;
}

/*Main Header Styles */
/*About Section Styles*/
.about .content-section-header {
  -webkit-animation: enter-left 1500ms;
          animation: enter-left 1500ms;
}

.about .content-inner-section {
  width: 75%;
  height: auto;
}

.about .content-inner-section .top-about {
  display: block;
  width: 100%;
  margin: 3em auto;
}

@media screen and (min-width: 1026px) {
  .about .content-inner-section .top-about {
    padding: 0 5% 5% 5%;
    min-height: 50vh;
  }
}

.about .content-inner-section .top-about .about-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media screen and (max-width: 758px) {
  .about .content-inner-section .top-about .about-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about .content-inner-section .top-about img, .about .content-inner-section .top-about .about-info {
  max-width: 50%;
  max-height: 75%;
  padding: 2em;
  background-color: #f3f3f3;
}

@media screen and (max-width: 758px) {
  .about .content-inner-section .top-about img, .about .content-inner-section .top-about .about-info {
    max-width: 100%;
    max-height: none;
  }
}

.about .content-inner-section .top-about img {
  border: 10px solid white;
  border-bottom: 50px solid white;
  -webkit-box-shadow: 5px 5px 10px 0px rgba(37, 37, 37, 0.56);
          box-shadow: 5px 5px 10px 0px rgba(37, 37, 37, 0.56);
}

@media screen and (min-width: 1026px) {
  .about .content-inner-section .top-about img {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0px;
            flex: 1 0 0;
    margin-right: 15%;
  }
}

@media screen and (max-width: 1026px) and (min-width: 758px) {
  .about .content-inner-section .top-about img {
    margin-right: 10%;
  }
}

@media screen and (max-width: 758px) {
  .about .content-inner-section .top-about img {
    width: 60%;
    min-height: 200px;
  }
}

@media screen and (min-width: 1026px) {
  .about .content-inner-section .top-about .about-info {
    -webkit-box-flex: 2;
        -ms-flex: 2 0 0px;
            flex: 2 0 0;
  }
}

@media screen and (max-width: 758px) {
  .about .content-inner-section .top-about .about-info {
    margin-top: 2em;
  }
}

.about .content-inner-section .top-about .about-info p {
  line-height: 1.5em;
}

@media screen and (min-width: 1026px) {
  .about .content-inner-section .top-about .about-info p {
    font-size: 1.15em;
  }
}

@media screen and (max-width: 1026px) and (min-width: 758px) {
  .about .content-inner-section .top-about .about-info p {
    font-size: 1em;
  }
}

@media screen and (max-width: 758px) {
  .about .content-inner-section .top-about .about-info p {
    font-size: .87em;
  }
}

.about .content-inner-section .middle-about {
  width: 60%;
  margin: 0 auto;
}

.about .content-inner-section .middle-about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.about .content-inner-section .middle-about a {
  text-decoration: none;
  color: inherit;
}

.about .content-inner-section .middle-about a:hover li {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  background-color: #faab11;
}

.about .content-inner-section .middle-about li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #737373;
  margin: 0px .5em;
  position: relative;
  -webkit-transition: 500ms ease all;
  transition: 500ms ease all;
}

@media screen and (max-width: 758px) {
  .about .content-inner-section .middle-about li {
    width: 40px;
    height: 40px;
  }
}

.about .content-inner-section .middle-about li img {
  width: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

@media screen and (max-width: 758px) {
  .about .content-inner-section .middle-about li img {
    width: 20px;
  }
}

.about .content-inner-section .bottom-about {
  margin: 3em 0 0 0;
}

.about .content-inner-section .bottom-about .about-inner {
  max-width: 800px;
  min-width: 250px;
  margin: 0 auto;
}

.about .content-inner-section .bottom-about .about-inner h3 {
  font-size: 1.5em;
  color: rgba(73, 73, 73, 0.3);
  text-transform: uppercase;
}

@media screen and (max-width: 758px) {
  .about .content-inner-section .bottom-about .about-inner h3 {
    font-size: 1.25em;
  }
}

.about .content-inner-section .bottom-about .about-inner .skill-set {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 1.5em;
}

.about .content-inner-section .bottom-about .about-inner .skill-set .progress {
  position: relative;
  padding: 1em;
  font-size: 1em;
}

@media screen and (min-width: 1026px) {
  .about .content-inner-section .bottom-about .about-inner .skill-set .progress {
    width: 33.3%;
  }
}

@media screen and (max-width: 1026px) and (min-width: 758px) {
  .about .content-inner-section .bottom-about .about-inner .skill-set .progress {
    width: 50%;
  }
}

@media screen and (max-width: 758px) {
  .about .content-inner-section .bottom-about .about-inner .skill-set .progress {
    font-size: .875em;
    width: 50%;
    text-align: center;
    padding: 1em .5em;
  }
}

.about .content-inner-section .bottom-about .about-inner .skill-set .progress::after, .about .content-inner-section .bottom-about .about-inner .skill-set .progress::before {
  content: '';
  position: absolute;
  display: block;
  height: 10px;
  right: 0;
  background: #FFF;
  border: 1px solid rgba(128, 128, 128, 0.3);
}

@media screen and (min-width: 1026px) {
  .about .content-inner-section .bottom-about .about-inner .skill-set .progress::after, .about .content-inner-section .bottom-about .about-inner .skill-set .progress::before {
    top: 50%;
  }
}

@media screen and (max-width: 1026px) and (min-width: 758px) {
  .about .content-inner-section .bottom-about .about-inner .skill-set .progress::after, .about .content-inner-section .bottom-about .about-inner .skill-set .progress::before {
    top: 40%;
  }
}

@media screen and (max-width: 758px) {
  .about .content-inner-section .bottom-about .about-inner .skill-set .progress::after, .about .content-inner-section .bottom-about .about-inner .skill-set .progress::before {
    bottom: 0;
    right: 33.3%;
  }
}

.about .content-inner-section .bottom-about .about-inner .skill-set .progress::after {
  width: 25%;
}

@media screen and (max-width: 758px) {
  .about .content-inner-section .bottom-about .about-inner .skill-set .progress::after {
    width: 33%;
  }
}

.about .content-inner-section .bottom-about .about-inner .skill-set .progress::before {
  background: #FFF;
  z-index: 10;
}

.about .content-inner-section .bottom-about .about-inner .skill-set .adv::after {
  background: #61ef79;
}

.about .content-inner-section .bottom-about .about-inner .skill-set .int::after {
  background: #efc061;
}

.about .content-inner-section .bottom-about .about-inner .skill-set .beg::after {
  background: #ef7961;
}

.about .content-inner-section .bottom-about .about-inner .skill-set .adv::before {
  width: 2%;
}

.about .content-inner-section .bottom-about .about-inner .skill-set .int::before {
  width: 7%;
}

.about .content-inner-section .bottom-about .about-inner .skill-set .beg::before {
  width: 13%;
}

.contact .contact-container {
  width: 65%;
  margin: 0 auto;
}

@media screen and (max-width: 758px) {
  .contact .contact-container {
    width: 80%;
  }
}

.contact .contact-container h3 {
  line-height: 1.5em;
  font-size: 2em;
  font-weight: normal;
}

@media screen and (max-width: 1026px) and (min-width: 758px) {
  .contact .contact-container h3 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 758px) {
  .contact .contact-container h3 {
    font-size: 1.15em;
    margin: 1em 0;
  }
}

.contact .contact-container h3 a {
  text-decoration: none;
  font-weight: 600;
  color: #faab11;
}

/*Small Animations*/
@-webkit-keyframes enter-up {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes enter-up {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes enter-left {
  0% {
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes enter-left {
  0% {
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=styles.css.map */